.poke-details-container {
  max-width: 600px;
  margin: 0 auto 10px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
}

.details-modal-header {
  color: white;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: lighter;
}

.details-modal-content {
  background-color: white;
  padding: 16px;
}

.details-1st-child {
  display: flex;
  justify-content: space-around;
}

.details-1st-child > img {
  width: 110px;
  height: 110px;
}

@media all and (min-width: 576px) {
  .details-modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
