.poke-evo-tree {
  display: flex;
  justify-content: center;
}

.poke-evo-wrapper {
  display: flex;
  align-items: center;
}

.poke-evo-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poke-evo-children-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
